APP_NAME=web-app-document
PORT=3010
BASE_URL_PREFIX=/api

API_BASE_URL=

CLIENT_KEY=
CLIENT_SECRET=

LOG_FORMAT=dev
LOG_DIR=../../data/logs

ORIGIN=http://localhost:3000
REDIRECT_URL=http://localhost:3000

MUNICIPALITY_ID=2281
NAMESPACE=
